.Rproj.user
.Rhistory
.RData
.Ruserdata
SM_MegaLMM/states/CV2_hyper_dataset_1_M5/
SM_MegaLMM/states/CV2_hyper_dataset_1_M10/
SM_MegaLMM/states/CV2_hyper_dataset_1_M20/
SM_MegaLMM/states/CV2_hyper_dataset_1_M50/
SM_MegaLMM/posterior_arrays/LAMBDA_M5.RData
SM_MegaLMM/posterior_arrays/LAMBDA_M10.RData
SM_MegaLMM/posterior_arrays/LAMBDA_M20.RData
SM_MegaLMM/posterior_arrays/LAMBDA_M50.RData
SM_MegaLMM/posterior_arrays/PREDS_M5.RData
SM_MegaLMM/posterior_arrays/PREDS_M10.RData
SM_MegaLMM/posterior_arrays/PREDS_M20.RData
SM_MegaLMM/posterior_arrays/PREDS_M50.RData
SM_MegaLMM/MegaLMM_traceplots/LAMBDA_M5.pdf
SM_MegaLMM/MegaLMM_traceplots/LAMBDA_M10.pdf
SM_MegaLMM/MegaLMM_traceplots/LAMBDA_M20.pdf
SM_MegaLMM/MegaLMM_traceplots/LAMBDA_M50.pdf
SM_MegaLMM/MegaLMM_traceplots/PREDS_M5.pdf
SM_MegaLMM/MegaLMM_traceplots/PREDS_M10.pdf
SM_MegaLMM/MegaLMM_traceplots/PREDS_M20.pdf
SM_MegaLMM/MegaLMM_traceplots/PREDS_M50.pdf